vless://{{ xray_uuid }}@{{ vps_ip_v4 }}/?encryption=none&type=tcp&sni={{ xray_vless_camouflage_domain }}&fp=chrome&security=reality&alpn=h2&flow=xtls-rprx-vision&pbk={{ xray_public_key }}&packetEncoding=xudp#{{ xray_vless_server_name }}
